<div class="jumbotron">
    <h1 class="display-4">Hello E-obuwie</h1>
    <p class="lead">Przeczytaj nasze najnowsze promocje</p>
    <hr class="my-4">
    <h2 class="lead">Wiadomość</h2>
    <p style="color: blue">{{ message}} </p>
</div>